<div class="social-media">
	<span class="small-caption">Mantenha-se conectado:</span>
	<ul class="social-icons">
		<li class="facebook"><a href="#" class="tooltip-ontop" title="Facebook"><i class="icons icon-facebook"></i></a></li><li class="twitter"><a href="#" class="tooltip-ontop" title="Twitter"><i class="icons icon-twitter"></i></a></li><li class="google"><a href="#" class="tooltip-ontop" title="Google Plus"><i class="icons icon-gplus"></i></a></li><li class="youtube"><a href="#" class="tooltip-ontop" title="Flickr"><i class="icons icon-youtube-1"></i></a></li><li class="flickr"><a href="#" class="tooltip-ontop" title="Flickr"><i class="icons icon-flickr-4"></i></a></li><li class="email"><a href="#" class="tooltip-ontop" title="Email"><i class="icons icon-mail"></i></a></li>
	</ul>
	<ul class="social-buttons">
		<li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></li>
	</ul>
</div>