{% extends 'EleicaoSiteBundle::layout.html.twig' %}

{% block title %}Votação{% endblock %}

{% block sectioncontent %}
	
	{% for flashKey, flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert-box success">
			<p><strong>VOTO CONFIRMADO</strong> - {{ flashMessage }} </p>
			<i class="icons icon-cancel-circle-1"></i>
		</div>
    {% endfor %}

	<h3>Total de votos: {{ totalVotos | number_format(0,2) }}</h3>
					
	<div class="divider"></div>

	<h3>Percentual</h3>

	{% for candidato in candidatos %}

		{% for v in candidato.votacoes %}
			{% set percentual = (v.votos * 100) / totalVotos %}
			
			<p>{{ candidato ~ ' - ' ~ candidato.partido.sigla }}</p>

			<div class="progressbar" data-percent="{{ percentual }}">
				<span class="progress-percent"></span>
				<div class="progress-width"></div>
			</div>

		{% endfor %}

	{% endfor %}

{% endblock %}