{% extends 'EleicaoSiteBundle::layout.html.twig' %}

{% block title %}Votar{% endblock %}

{% block sectioncontent %}
	
	<h3>Escolha seu candidato</h3>

	{% for candidato in candidatos %}
		<div class="row">
			<a href="{{ path('site_votacao_efetuar_voto', { 'id': candidato.id }) }}" class="button big button-arrow">
				{{ candidato ~ ' - ' ~ candidato.partido.sigla }}
			</a>
		</div>

	{% endfor %}

{% endblock %}